.card {
    border: none;
}

.card-img-top {
    object-fit: cover;
    width: 170px;
    height: 250px;
    border-radius: 5px;
}

h5 {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
     display: -webkit-box;
    margin: 0 0 10px 0;
}