.container-fluid {
    padding: 0;
}

.home_name {
    color: #FAA300;
    margin-left: 15px;
    font-size: 22px;

    font-weight: 600;
    margin: 15px;
}

.navbar {
    width: 100%;
}

.row {
    width: 100%;
    margin: 0;
}

.bg-3, .bg-9 {
    background-color: #202125;
}

.rightside_name {
    color: #FAA300;
    font-size: 22px;
    font-weight: 600;

    margin: 15px 0;
}

@media (max-width: 1024px) {
    .col-3  {
        display: inline-block;
    }
}
